<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Eat Your Burger!</h1>
    <p class="lead">Select your favorite burgers, eat them, remake them, and more! </p>
  </div>
</div>

<div class="container container-main">
  <div class="container container-uneaten">

    <h1>Available Boigas</h1>
    <ul class="uneaten">
      {{#each list1}}
      <li>{{id}}
        {{burger}}

      </li>
      <button id='{{id}}' class="btn-danger delete">Eat Me</button>



      {{/each}}
    </ul>
  </div>

  <div class="container container-eaten">
    <h1>Eaten Boigas</h1>
    <ul class="eaten">
      {{#each list2}}
      <li>{{id}}
        {{burger}}
        <button id='{{id}}' class="btn-info">Remake me!</button>
      </li>



      {{/each}}
    </ul>
  </div>

</div>

<div class="submit-group">
  <form action="/" method="POST">
    <input placeholder="Add A burger to the menu!" type="text" name="example">
    <button class='btn-primary' type="submit">Submit</button>
  </form>

  <form id="updateForm">
    <p>Enter the burgers ID in the first box, and the updated name in the second!</p>
    <input id="burgerId" type="text" name="burgerID" placeholder="id">
    <input id="newname" type="text" name="burgerName" placeholder="new name!">
    <button data-test="{{id}}" class="btn-success update" type='submit'>Update</button>
  </form>
</div>




<script type="text/javascript">

  $('.delete').on('click', (event) => {
    event.preventDefault
    let id = (event.target.id)

    $.ajax('/api/' + id, {
      type: 'DELETE'
    }).then(function () {
      location.reload();
    })
  })

  $(".btn-info").on('click', (event) => {
    let id = event.target.id;
    console.log('checked')
    $.ajax('/api/remake/' + id, {
      type: 'POST'
    }).then(function () {
      location.reload()
    })
  })


  $('#updateForm').on('submit', (event) => {
    event.preventDefault();
    var id = $("#burgerId").val().trim()
    let text = $("#newname").val().trim();

    $.ajax('/api/' + id + '/' + text + '/', {
      type: 'PUT'
    }).then(function () {
      location.reload()
    })
  })

</script>